.Social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* background-color: red; */
    
}
a {
    text-decoration: none;
}
a:hover{
    color: brown;
}